{% extends "master.html.twig" %}

{% block title %}about{% endblock %}

{% block headExtra %}
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/product.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div id="about">
                <table style="width:945px">
                    <tr>
                        <th style="font-size:large">OUR COMPANY</th>
                        <th style="font-size:large">OUR PRODUCT</th>
                        <th style="font-size:large">OUR PARTNER</th>
                    </tr>
                    <tr>
                        <td>
                            We are a company in Montreal working with many partner. We serve pastries from independent local bakers, make as much product as we can in-house, and will never tell you how to drink your coffee. There isn’t a right or wrong approach to trying to make coffee better, and we learn new things about brewing all the time.  More than anything, we have fun and don’t take ourselves too seriously.  We make pretty good coffee and sometimes we play really bad music but it’s also usually pretty good.
                        </td>
                        <td>
                            The product we serve is sourced and roasted by 49th Parallel Roasters in Vancouver, BC. For years, they have established relationships with producers in many coffee-growing nations to improve the quality of coffee and pay a substantial premium above Fair-Trade prices for product. We build our menu based on the seasonality of these producing countries, offering a rotating selection of origins that change regularly.  We receive roasted coffee on Thursday afternoons two to three days off-roast, please check the “MENU” tab to see our current selection.
                        </td>
                        <td>
                            <ol>
                                <li>Intelligentsia–Chicago</li>
                                <li>Microtorrefacteur–Montreal</li>
                                <li>Heart Roasters–Portland</li>
                                <li>Anchored Coffee–Dartmouth</li>
                                <li>Ritual Roasters–San Francisco</li>
                                <li>Bows & Arrows–Victoria</li>
                                <li>Square Mile–London</li>
                            </ol>
                        </td>
                    </tr>
                </table>

            </div>
    </div>
    <!-- /.container -->
{% endblock content %}


