{% extends "master.html.twig" %}

{% block title %}about{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}

    <section class="section-title">
        <div class="container">
            <h1> About <small> Who are we? </small></h1>
        </div>    
    </section>

    <section class="bread-crumb">
        <div class="container">

            <div class="row">
                <div class="col-md-5">
                    <div class="wow bounceInUp">    
                        <img src="images/puzzle.jpg" class="img-responsive">
                    </div>
                </div>

                <div class="col-md-7">    
                    <div class="wow fadeIn">                        
                        <h2>Welcome to our company</h2>
                        <p>Rump andouille meatball. Chuck shoulder pig tenderloin, kielbasa pig capicola 
                            tip corned prosciutto sopressata, boudin andouillette hamburger flank tenderloin 
                            cow cow salami tip pork, ham ham braunschweiger, pig sausage bregenwurst ham 
                            chuck braunschweiger shoulder tongue hamburger. Andouille pig ribeye capicola 
                            tip prosciutto cow pork, bacon tip meatball tip short ham ham hock jerky pork 
                            prosciutto, ham round spare ham andouille cow shoulder rump mignon porchetta 
                            ribs tip bresaola salami pig hamburger bierschinken, prosciutto belly ham 
                            kielbasa andouillette. T-bone turducken frankfurter tip ham tip bacon ball steak 
                            tip drumstick turkey leberkas pig bresaola chop kevin pig salami tip chicken tip 
                            hock ham shoulder ribeye mignon pig beef.</p>
                        <a href="contact.html" class="btn btn-primary btn-lg"> Contact Us </a>

                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">                    
                    <h2 class="page-header">Meet the team</h2>
                </div>
            </div>

            <div class="row">     
                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="images/woman1.jpg" alt="Women">
                    <h3>Rebecca Smith <small>Developper</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>

                    </ul>

                </div>                

                <div class="col-md-4">

                    <img class="img-responsive img-thumbnail img-circle" src="images/man1.jpg" alt="Women">

                    <h3>Jeff Bridges <small>Designer</small></h3>

                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>

                    <ul class="list-unstyled list-inline list-social-icons">

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>

                    </ul>
                </div>                

                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="images/woman2.jpg" alt="Women">
                    <h3>Beth Johnson <small>Sales</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="images/man3.jpg" alt="Women">
                    <h3>Ryan Thompson <small>Marketer</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>                
                
                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="images/woman3.jpg" alt="Women">
                    <h3>Susan White <small>Human Resources</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>                

                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="images/man2.jpg" alt="Women">
                    <h3>Steve Reed <small>Content</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>               
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Our Clients</h2>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="images/client1.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="images/client2.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="images/client3.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="images/client4.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="images/client5.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="images/client6.png">
                </div>
            </div>
        </div><!-- /.container -->
    </section>

{% endblock content %}


