{% extends "master.html.twig" %}

{% block title %}Task edit successful{% endblock %}

{% block content %}
    <p>You can continue <a href="/add">Add Product</a> 
        or
    <a href="/edit">Edit Product</a>    
        or
    <a href="/delete">delete Product</a>
        or
    <a href="/list">List Product</a>.</p>
{% endblock %}
    