{% extends "master.html.twig" %}
{% block title %}Login{% endblock %}

{% block content %}

    <div class="login">
        <h1 class="login-heading">
            <strong> Please login</strong>
        </h1>
        <form method="post">
            <input type="text" name="name" placeholder="username" required="required" class="input-txt" />
            <input type="password" name="password" placeholder="password" required="required" class="input-txt" />
            <div class="login-footer">
                <button type="submit" class="btn">Login</button>
                <button type="submit" class="btn btn--right"><a href="/register" class='btn--no--underline'>Register</a></button>
                {% if error %}
                    <p class="errorList">Login failed try again.</p>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock content %}

