<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" href="/styles.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    {% block headExtra %}{% endblock %}
</head>
<body>
    <div class="container">
        <div id="header">
            {% if todouser %}
                Welcome {{ todouser.name }}, you may <a href="/logout">logout</a>.
            {% else %}
                {#                    Welcome, You may <a href="/login">login</a> or <a href="/register">register</a>.#}
            {% endif %}
        </div>
        <div id="content">
        {% block content %}{% endblock content %}
        </div>
    </div>    
    <div id="footer">            
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.            
    </div>    
</body>
</html>