{% extends "admin_panel.html.twig" %}

{% block title %}Item add successful{% endblock %}

{% block headExtra %}
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/product.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <p>You can continue <a href="/admin_product_add">Add Product</a> 
        or
    <a href="/admin_product_edit">Edit Product</a>    
        or
    <a href="/admin_product_delete">delete Product</a>
        or
    <a href="/admin_product_list">List All Product</a>.</p>
{% endblock content %}
    