{% extends "admin_panel.html.twig" %}

{% block title %}Category Edit successful{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}
    <p>Add {{ name }} .  {{ ID }} . You may add anthor category<a href="/admin_Order_add">Add Order</a> 
        or
    <a href="/admin_order_edit">Edit Order</a>    
        or
    <a href="/admin_order_delete">delete Order</a>
    </p>
{% endblock content %}
