{% extends "admin_panel.html.twig" %}

{% block title %}User edit successful{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}
    <p>Add {{ name }} .  You may add anthor user<a href="/admin_user_add">Add user</a> 
    
    </p>
{% endblock content %}

