{% extends "admin_panel.html.twig" %}

{% block title %}User add successful{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}
    <p>Add {{ name }} .  {{ fname }} . {{ lname }} successful . You may add anthor user<a href="/admin_user_add">Add User</a> 
        or
    <a href="/admin_user_edit">Edit Product</a>    
        or
    <a href="/admin_user_delete">delete Product</a>
    </p>
{% endblock content %}

