{% extends "admin_panel.html.twig" %}
{% block title %}Product edit successful{% endblock %}
{% block content %}
    <h1 class="success">Product edit successful</h1>
    <p>You can continue <a href="/admin_product">View Product</a> 
    
{% endblock content %}
    
