{% extends "admin_panel.html.twig" %}

{% block title %}Message Response successful{% endblock %}

{% block headExtra %}
   
{% endblock %}

{% block content %}
    <h1 class="left_content">Message Response successful</h1>
    <p class="label-success">You can continue <a href="/admin_message">List message and reply</a> 
{% endblock content %}