{% extends "admin_panel.html.twig" %}

{% block title %}Delete User Successful{% endblock %}

{% block headExtra %}
   
{% endblock %}

{% block content %}
    <h1 class="left_content">Delete User Successful</h1>
    <p class="label-success">You can continue <a href="/admin_user_list">List User</a> 
        or
    <a href="/admin_user_add">Edit Product</a>    
</p>
{% endblock content %}
