{% extends "admin_panel.html.twig" %}
{% block title %}Product delete successful{% endblock %}
{% block content %}
    <h1 class="success">Product delete successful</h1>
    <p>You can continue <a href="/admin_product">View Product</a> 
        or
    <a href="/edit">Edit Product</a>    
        or
    <a href="/delete">delete Product</a>
        or
    <a href="/list">List Product</a>.</p>
{% endblock content %}
    
