{% extends "admin_panel.html.twig" %}

{% block title %}Item add successful{% endblock %}

{% block headExtra %}
   
{% endblock %}

{% block content %}
    <h1 class="left_content">Operation Successful!</h1>
    <p class="label-success">You can continue <a href="/admin_product_add">Add Product</a> 
        or
    <a href="/admin_product_edit">Edit Product</a>    
        or
    <a href="/admin_product_delete">delete Product</a>
        or
    <a href="/admin_product_list">List All Product</a>.</p>
{% endblock content %}
    
