{% extends "admin_panel.html.twig" %}

{% block title %}Category add successful{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}
    <p>Add {{ name }} .  {{ layer }} . You may add anthor category<a href="/admin_category_add">Add Category</a> 
        or
    <a href="/admin_category_edit">Edit Product</a>    
        or
    <a href="/admin_category_delete">delete Product</a>
    </p>
{% endblock content %}

