{% extends "master.html.twig" %}

{% block title %}Product edit{% endblock %}

{% block headExtra %}
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/product.css" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $("#taskNameInUse").hide();
            $("input[name=task]").keyup(function () {
                var taskName = $(this).val();
                //console.log("Keyup: " + email);
                if (taskName === "") {
                    $("#taskNameInUse").hide();
                    return;
                }
                $.get("/ajax/tasknameused/" + task, function (result) {
                    result = eval(result);
                    if (result) {
                        $("#taskNameInUse").show();
                    } else {
                        $("#taskNameInUse").hide();
                    }
                });
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="edit-product">
            <h1 class="edit-product-heading">
                <strong>Edit Product</strong>
            </h1>
            <form method="post" enctype="multipart/form-data">
                <input type="text" name="task" placeholder="Task" required="required" class="input-txt" value="{{todo.task}}"/>
                <input type="date" name="dueDate" placeholder="DueDate" required="required" class="input-txt" value="{{todo.dueDate}}" />
                <select id="isDone" name="isDone" required="required" class="input-txt">
                    <option value="Pending">Pending</option>
                    <option value="Done">Done</option>
                </select>
                {#            <textarea name="description" placeholder="Description" required="required" class="input-txt"></textarea>#}
                {#Image: <input type="file" name="image"><br>#}
                <div class="edit-product-footer">
                    <div class ="error-message">
                        {% if errorList %}
                            <ul class="errorList">
                                {% for error in errorList %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn--right">Edit Product</button>             
                </div>
            </form>
        </div>
    </div>

{% endblock %}
