{% extends "master.html.twig" %}

{% block title %}Facebook Login{% endblock %}

{% block content %}
    <div class="container">
        <section class="section-title">
            <h1>Facebook Login</h1>
        </section>
        <br>
        <a href= {{loginUrl}} class="bt_blue"><span class="bt_blue_lft"></span><strong>Log in with Facebook!</strong><span class="bt_blue_r"></span></a>
    </div>    
{% endblock %}
