{% extends "master.html.twig" %}
{% block title %}Order place successful{% endblock %}
{% block content %}
    <h1 class="success">Order place successful</h1>
    <p>You may go to <a>home</a></p>
    
{% endblock content %}
