{% extends "master.html.twig" %}

{% block title %}Failed reset{% endblock %}

{% block content %}

    <div class="container">
        <section class="section-title">
            <h1>Failed reset</h1>
        </section>
        <br/>
        <p>Password reset token does not exist or has expired.</p>
        <p>You may <a href="/passreset">request a new token</a>.</p>

        <a href="/">Click to continue</a>
    </div>
    <br/>    

{% endblock %}
