{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}
            
<h1>Password reset</h1>

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<p>Enter your new password below.</p>

<form method="post">
   <label>Password</label><br>
   <input type="password" name="pass1" placeholder="password" class="login_form input-txt" required="required" />
   <label>Password (repeated)</label><br>
   <input type="password" name="pass2" placeholder="password" class="login_form input-txt" required="required" />
   <input type="submit" value="Reset password">
</form>

{% endblock %}
