{% extends "master.html.twig" %}

{% block title %}Submit successful{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}
    <div class="container">
        <p>Submit succesfully.
            <a href="/eshop">Onling Shopping</a>. or
            <a href="/home">Go back to Home page </a>.</p>
    </div>
{% endblock content %}

